body {
	background-image: url("images/books.jpg");
}

.bkRGBA {
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.5);
	/* 背景画像の透過用css */
}

.center {
	border: 1px solid #aaa;
	text-align: center;
}
/*
a {
  text-decoration: none;
}
body {
  margin: 0;
  background-color: #f7f7f7;
}

header{
  height:65px;
  width:100%;
  background-color:rgba(34,49,52,0.9);
  position:fixed;
  top:0;
  z-index:10;
}

.header-left {
  float: left;
}

.header-left p{
  font-family: cursive;
  margin-top: 5px;
  color: white;
  font-size: 40px;
}

.header-right {
  float: right;
  background-color: rgba(255,255,255,0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255,255,255,0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


.wrapper {
  height: 500px;
  padding-bottom: 80px;
  text-align: center;
}

.heading {
  padding-top: 65px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.item {
  float: left;
  width: 25%;
}

.item-icon {
  position: relative;
}

.item-img {
  position: absolute;
  top: 10px;
  width: 100%;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  font-size: 12px;
  color: #b3aeb5;
}

.btn{
  padding: 1px 8px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  cursor: pointer;
  background-color:rgb(32,140,255);
}
.btn:hover {
  opacity: 1;
}

table {
  width: 500px;
  margin: 15px auto;
  padding: 0;
  border-collapse: collapse;
}
th {
  text-align: center;
}
th, td {
  margin: 0;
  padding: 6px 16px;
  border-bottom: 2px solid #bbb;
}

.base a{
  background-color: rgba(200,200,200,0.5);
  transition: all 0.5s;
  line-height: 40px;
  padding: 0 25px;
  display: inline-block;
  cursor: pointer;
  color: black;
}

.base a:hover{
  background-color: rgba(200,200,200,0.2);
}

input[type=text]{
  width:250px;
  height:25px;
  font-size: 18px;
}

.error{
  color: red;
  margin-top: 160px
}
*/