body {
	background-image: url("../images/books.jpg");
}

.bkRGBA {
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.5);
	/* 背景画像の透過用css */
}

.center {
	border: 1px solid #aaa;
	text-align: center;
}

.search{
	width: 250px
}

img{
	width:150px;
	height:175px;
}
