<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>BookList</title>
<link href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet" />
</head>
<body>
	<div class="bkRGBA">
		<h2 th:if="${rFlag == false}">通常盤</h2>
		<h2 th:if="${rFlag == true}">R版</h2>
		<form method="post" th:action="@{/bookList}">
			<input type="hidden" name="rFlag" th:value="${rFlag}" />
			検索：
			<select name="id">
  				<option value="-1">指定なし</option>
  				<option th:each="original : ${originalList}" th:value="${original.id}" th:text="${original.title}" th:selected="${original.id == id}"/>
			</select>
			<select name="star">
				<option value="-1">指定なし</option>
  				<option th:each="i : ${#numbers.sequence(0, 5)}" th:value="${i}" th:text="${i}+ '点'" th:selected="${star == i}"/>
			</select>
			<input type="submit" value="Click" />
		</form>
		<ul>
			<li th:each="book : ${bookList}">
				<form method="post" th:action="@{/bookDetail}">
					<p th:text="'タイトル：'+${book.title}" />
					<p th:text="'はんてい：'+${book.rFlag}" />
					<p th:text="'ファイル：'+${book.fileName}" />
					<img th:src="@{'/images/'+${book.fileName}}"/>
					<p th:text="'ひょうか：'+${book.star}" />
					<input type="hidden" name="rFlag" th:value="${rFlag}" />
					<input type="hidden" name="bookId" th:value="${book.id}" />
					<input type="submit" value="詳細表示" />
				</form>
			</li>
		</ul>
		<a th:href="@{/}">TOP</a>
	</div>
</body>
</html>